@font-face {
	font-family: 'FontAwesome';
	src: url('../../lib/core/fontawesome-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: Simple-Line-Icons;
	src: url(../../lib/core/Simple-Line-Icons.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

/* menu bar */

#menubar {
	height: 42px;
	background: rgb(31, 31, 31);
}
#sidebar {
	top: 42px;
}
#menubar .menu {
	width: 65px;
}
#menubar .menu.dropdown:hover,
#menubar .menu.dropdown .options {
	background: #fefefe;
}
#menubar .menu.button:hover {
	background: #333333;
}
#menubar .Panel {
	padding: 13px 10px;
	margin: 0;
	color: #999999;
}
#menubar .menu.dropdown .Panel::after {
	font-family: FontAwesome;
	content: '\f107';
	margin-left: 5px;
}
#menubar .menu.toggle {
	width: auto;
	margin-right: 10px;
}
#menubar .menu.toggle .Panel {
	padding: 0;
	margin: 0 15px 0 13px;
}
#menubar .menu.toggle .Panel::after {
	font-family: Simple-Line-Icons;
	font-size: 16px;
	line-height: 42px;
	content: '\e066';
}
.sidebar-hidden #menubar .menu.toggle .Panel::after {
	content: '\e065';
}
#menubar .menu:hover .Panel,
#menubar .menu:hover .options {
	color: #777777;
}
#menubar .options {
	box-shadow: rgba(91, 91, 91, 0.2) 5px 5px 0px 0px;
}
#menubar .toggle {
	float: right;
}

/* sidebar toggle button */

#sidebar,
#viewport,
#toolbar {
	transition: right .3s;
}
#viewport canvas {
	transition: width .3s;
}
.sidebar-hidden #sidebar {
	right: -300px !important;
}
.sidebar-hidden #viewport {
	right: 0 !important;
}
.sidebar-hidden #toolbar {
	right: 0 !important;
}
.sidebar-hidden canvas {
	width: 100% !important;
}

/* side bar */

#sidebar {
	background: #454545;
	color: #a2a2a2;
}
.sidebar-panels {
	margin-top: 45px;
}
#navigation-bar {
	background: #555555;
	position: fixed;
	width: 300px;
	z-index: 1000;
}
#navigation-bar ul {
	margin: 0;
	padding: 0;
}
#navigation-bar li {
	list-style: none;
	display: inline-block;
	line-height: 45px;
	width: 25%;
	text-align: center;
	cursor: pointer;
}
#navigation-bar li.current {
	cursor: default;
}
#navigation-bar li.basic {
	width: 22%;
}
#navigation-bar li.mesh {
	width: 21%;
}
#navigation-bar li.geometry {
	width: 29.5%;
}
#navigation-bar li.material {
	width: 27.5%;
}
#navigation-bar li:hover {
	background: #505050;
}
#navigation-bar li.current {
	background: #454545;
}
#sidebar .Panel.hidden {
	display: none !important;
}
#sidebar .sidebar-panels > .Panel {
	border-top: none;
	border-bottom: 1px solid #404040;
	padding: 10px 0;
}

/* scroll bar */

::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 0;
	box-shadow: none;
	border: 0;
	background-color: rgba(255,255,255,0.2);
}
::-webkit-scrollbar-track {
	border-radius: 0;
	box-shadow: none;
	border: 0;
	background-color: #454545;
}

/* sidebar controls */

#sidebar * {
	outline: none !important;
}
/* universal */
#sidebar .Panel.Nothing {
	text-align: center;
	border-bottom: none;
	margin-top: 15px;
}
#sidebar .Panel.final-row {
	padding: 5px 15px;
	margin: 0;
}
#sidebar .Panel.final-row:hover {
	background: #505050;
}
#sidebar .final-row .Text {
	color: #a2a2a2 !important;
}
#sidebar .sidebar-panels > .Panel > .Text {
	padding: 10px 15px 0;
	color: #7b7b7b;
	font-size: 16px;
	text-transform: capitalize !important;
}
/* fancy select control */
#sidebar #outliner {
	height: auto;
	background: none;
	border: none;
}
.FancySelect .option {
	color: rgb(162,162,162);
	padding: 5px 15px;
}
.FancySelect .option.active {
	background-color: #555555;
}
/* input, textarea, values */
.Select,
.Input,
.TextArea,
.Number,
.final-row .Text + .Text,
.FancySelect .option {
	font-size: 13px !important;
	font-family: 'Lucida Grande', sans-serif;
}
.select-wrapper {
	display: inline-block;
}
.Select {
	border: 0 !important;
	padding: 0 5px 0 5px !important;
	height: auto !important;
	width: 162px !important;
	box-sizing: border-box;
	line-height: 32px;
	overflow: hidden;
	border-radius: 0;
	-webkit-appearance: none;
}
.select-wrapper::after {
	font-family: FontAwesome;
	content: '\f107';
	display: inline-block;
	font-weight: normal;
	position: relative;
	color: #aaa;
	left: -20px;
	top: 1px;
}
.Input {
	padding: 0 5px !important;
	line-height: 30px !important;
	margin: 0 !important;
}
.TextArea {
	padding: 7px 5px !important;
}
.Input,
.TextArea {
	border: 1px solid transparent !important;
}
.Input:active,
.TextArea:active {
	border-color: #aaa !important;
}
input.Number {
	padding: 2px 0;
	margin: 2px 0;
}
/* refresh button */
.Button.refresh {
	color: #ffffff;
	background-color: #4b8df8;
	border: 0;
	width: 36px;
	height: 32px;
	font-size: 16px;
	cursor: pointer;
}
.Button.refresh:hover {
	background-color: #2474f6;
}
/* checkbox */
#sidebar .checkbox-wrapper {
	width: 80px;
	height: 32px;
	background: black; /* Under the hook. */
	position: relative;
	display: inline-block;
	overflow: hidden;
}
#sidebar .checkbox-label::before,
#sidebar .checkbox-label::after {
	font-size: 13px;
	color: #ffffff;
	position: absolute;
	font-weight: bold;
	line-height: 32px;
	height: 32px;
	width: 40px;
	text-align: center;
}
#sidebar .checkbox-label::before {
	content: 'ON';
	left: -40px;
	background: #45b6af;
}
#sidebar .checkbox-label::after {
	content: 'OFF';
	right: -40px;
	background: #f3565d;
}
#sidebar .Checkbox {
	display: none;
}
#sidebar .checkbox-label {
	left: 0;
	display: block;
	width: 40px;
	height: 32px;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	background: #ffffff;
}
#sidebar .Checkbox:checked + .checkbox-label {
	left: 40px;
}
#sidebar br.after-checkbox + *,
#sidebar .final-row > .Text + .checkbox-wrapper + .after-checkbox + span + .Number {
	/* OK, OK, I fucked this up. */
	margin-left: 90px;
}
/* color */
#sidebar .Color {
	width: 64px !important;
	height: 36px !important;
	position: relative;
	left: -3px;
}
/* image chooser */
#sidebar canvas {
	width: 32px;
	height: 32px;
	margin-top: 10px;
	background-color: #555555;
}
#sidebar canvas + input {
	height: 32px;
	width: 130px !important;
	margin-top: 10px;
	border: none !important;
	background: none;
	color: #a2a2a2;
}

/* toolbar */

#viewport {
	bottom: 50px;
}
#toolbar {
	background: #454545;
	height: 50px;
}
#toolbar .Panel {
	color: rgb(162,162,162);
	height: 34px;
	padding: 8px 8px;
}
#toolbar .Button,
.modal .close-button {
	height: 34px;
	line-height: 34px;
	border-radius: 0;
	border: 0;
	padding: 0 14px;
	margin-right: 10px;
	cursor: pointer;
	font-size: 14px;
	color: #ffffff;
}
#toolbar .Button:nth-child(1) {
	background-color: #4b8df8;
}
#toolbar .Button:nth-child(1):hover {
	background-color: #2474f6;
}
#toolbar .Button:nth-child(2) {
	background-color: #35aa47;
}
#toolbar .Button:nth-child(2):hover {
	background-color: #2b8b3a;
}
#toolbar .Button:nth-child(3) {
	background-color: #ffb848;
}
#toolbar .Button:nth-child(3):hover {
	background-color: #ffa81f;
}
#toolbar .Checkbox {

}

/* Modal */

.menu.add .options {
	display: none !important;
}
.modal {
	border-radius: 0;
}
.modal ::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2);
}
.modal ::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0.1);
}
.modal h3 {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
.modal .close-button {
	color: #333333;
	background-color: #e5e5e5;
}
.modal .close-button:hover {
	background-color: #d1d1d1;
}
.modal .category {
	margin-top: 20px;
}
.modal .category:first-child {
	margin-top: 0;
}
.modal .category .title {
	font-weight: bold;
	font-size: 14px;
}
.modal .option {
	width: 64px;
	height: 85px;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
}
.modal .option:nth-child(2),
.modal .option:nth-child(8){
	margin-left: 0;
}
.modal .option:nth-child(7) {
	margin-right: 0;
}
.modal .image {
	width: 64px;
	height: 60px;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.modal .image:hover {
	opacity: 0.70;
}
.modal .text {
	text-align: center;
}

.modal .plane .image {
	background-image: url('../images/plane.png');
}
.modal .circle .image {
	background-image: url('../images/circle.png');
}
.modal .cylinder .image {
	background-image: url('../images/cylinder.png');
}
.modal .icosahedron .image {
	background-image: url('../images/icosahedron.png');
}
.modal .sphere .image {
	background-image: url('../images/sphere.png');
}
.modal .torus .image {
	background-image: url('../images/torus.png');
}
.modal .cube .image {
	background-image: url('../images/cube.png');
}
.modal .torusknot .image {
	background-image: url('../images/torus-knot.png');
}
.modal .ambient-light .image {
	background-image: url('../images/ambient-light.png');
}
.modal .directional-light .image {
	background-image: url('../images/directional-light.png');
}
.modal .hemisphere-light .image {
	background-image: url('../images/hemisphere-light.png');
}
.modal .point-light .image {
	background-image: url('../images/point-light.png');
}
.modal .spot-light .image {
	background-image: url('../images/spot-light.png');
}
.modal .sprite .image {
	background-image: url('../images/sprite.png');
}